.venv/
.local/
.streamlit/
__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db
.vscode/
.idea/

Terraform/.terraform/
Terraform/tfplan
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
Terraform/terraform.tfvars

*.credentials.json
*service-account*.json
*service_account*.json

dashboard/.streamlit/secrets.toml
Kestra/.env
